<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2da12aa4-4900-40f4-9276-2c72242599e8/resourceGroups/studentsinformation_group/providers/Microsoft.Web/sites/StudentInformation2</ResourceId>
    <ResourceGroup>studentsinformation_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://studentinformation2.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://studentinformation2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$StudentInformation2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>