@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <h3>What is .NET?</h3>
    <p>.NET is an open source developer platform for building applications and can be written in C#,F# or Visual Basic. </p>
    <p>Developer platform = Languages + libraries</p>
    <p>Nodejs - Framework for Javascript.</p>
    <p>.NET - framework for C#.</p>

    <h3>Terms in .NET(Platforms)</h3>
    <p>.NET Framework - First version and only runs on Windows</p>
    <p>.NET Core - Cross-platform version, runs on Windows, macOS, and Linux</p>
    <p>.NET Standard - Shared set of libraries for the above.</p>

    <h3>What can we build with .NET?</h3>
    <ul>
        <li>Web</li>
        <li>Mobile/Desktop apps</li>
        <li>Games-2D and 3D</li>
        <li>Machine Learning and many more</li>
    </ul>

    <h3>Why C#?</h3>
    <p>Fast and efficient way of building modern applications</p>

    <h3>Link</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h3>Workshop Introduction</h3>
    <h4>Mad Libs word game</h4>
    <p>Mad Libs are short stories with blanks for the player to fill in the missing words with funny and strange end result</p>
    <p> This is a basic introduction of writing C# codes where we will make use of variables of different data types and string interpolation
    </p>
</div>

