@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Research plan for Module 7</h1>
<h1>Code heavy</h1>

<h3>Student name: </h3>
<p>Rashidi Salami</p>

<h3>Subject:</h3>
<p>.NET</p>

<h3>Main sources:</h3>
<a href="https://www.codecademy.com">Codecademy learning environment</a><br />
<a href="https://dotnet.microsoft.com/en-us/apps/aspnet">Microsoft page for .NET</a><br />
<a href="https://getbootstrap.com">Bootstrap documentation</a>
<a href="https://aka.ms/dotnethelloworld">.NET Hello World tutorial</a>


<h3>I will make:</h3>
<p>
    A proof of concept, how to make a simple student information list with C#, ASP.NET
    and .NET Core using the functional programming paradigm.
</p>



<p>The code weight for this application is about 90% while the design weight is about 10%.</p>

<h3>Minimum Viable Product:</h3>
<p>Be able to provide a functional CRUD operation.</p>